<div class="body-container">
<h1>BuddyBundleCraft,<br>des services à prix d’ami !</h1>

<p>Trouvez votre compagnon idéal dans le monde du bricolage pour toutes vos nécessités d'aménagement, de pose, de fixation, de remplacement, de rénovation et de réparation entre particuliers.</p>
  <div class="cards">
  <%= link_to services_path do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.ibb.co/dMjQ8R8/bricolage.jpg)">
    Réserver un service
    </div>
  <% end %>

  <%= link_to new_service_path do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.ibb.co/7b9PBhz/bricolage2.jpg)">
    Proposer un service
    </div>
  <% end %>
  </div>
</div>
